__pycache__/
.vscode/settings.json
*.o
*.so
*.0
*.a
*.pc
*.ll
*.pcap
*.json
*.txt
xdp/libbpf/src/build
xdp/basic-solutions/xdp_stats
xdp/basic-solutions/xdp_loader
xdp/newip_router/xdp_stats
xdp/newip_router/xdp_loader
xdp/newip_router/xdp_prog_user
pcap/
202*/
New_IP.egg-info/
examples/latest
